<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/css/style.css" />
        <title>SIMPERPUS : Site Administrator</title>
    </head>
    <body>
        <div class="container-login">
            <div class="forms-container-login">
                <form action="<%= url %>login/auth" method="POST" class="sign-in-form">
                    <h2 class="title-login">Sign in</h2>
                    <div class="input-field-login">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </i>
                        <input type="email" name="email" id="email" placeholder="Email" autocomplete="off" required />
                    </div>
                    <div class="input-field-login">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                            </svg>
                        </i>
                        <input type="password" name="password" id="password" placeholder="Password" required />
                    </div>
                    <input type="submit" value="Login" class="btnlogin solid" />
                    <%if (pesanFlash) { %>
                    <div class="alert-login <%= colorFlash %>">
                        <span class="fas fa-exclamation-circle"></span>
                        <span class="msg"><%= pesanFlash %></span>
                    </div>
                    <% } %>
                </form>
            </div>
        </div>
    </body>
</html>
